<div class="container">
        <div class="logo">

            <img class="logo-image" src="/logo_blanco.png" alt="">
        </div>

        <div class="confirm-container">
            <h1 class="title">Recuperacion de correo electronico</h1>
            <p class="pharagraph">Ingrese una nueva contrase単a para: <b>{{email}}</b></p>

            <form method="post" action="/sendmail/confirmchangepassword/{{token}}">

                <div class="form-group">
                    <input type="password" class="form-control" name="newPassword" minlength="6"
                    aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Ingrese nueva contrase単a</small>
                </div>
                <div class="container-button">
                    <button class="buttonSend" type="submit">Cambiar contrase単a</button>
                </div>
            </form>


            <p class="pharagraph">Una vez confirmado, Su contrase単a sera cambiada</p>
            <br>
            <p class="pharagraph">
                Del equipo de Neo
            </p>
        </div>
    </div>