<div class="container">
    <div class="logo">

        <img class="logo-image" src="/logo_blanco.png" alt="">
    </div>

    <div class="confirm-container">
        <h1 class="title">Correo electrónico Verificado</h1>

        <div class="container-button">
            <i class="fas fa-check-circle fa-5x verify-icon"></i>
        </div>

        <p class="pharagraph">Ahora ya puedes usar tu cuenta de N.E.O.</p>

        <p class="pharagraph">
            Del equipo de Neo
        </p>
    </div>
</div>